/* Responsive Style */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

section, .main, div {
    box-sizing: border-box;
}


/* Text font */
body {
    font-family:'Roboto', sans-serif; 
}

/* Major Phenomenon Name */
.headline {
    text-align: center;
    font-size: 4em;
    cursor:default;  
    color: #ffffff;
    background-color: rgba(52,73,94,0.75);
    opacity:0.7;
}

/* Major Phenomenon Section */
main {
    background-color: rgba(52,73,94,0.75);
    opacity:0.7;
}

#question {
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
}

.question3 {
    padding-bottom: 20px;
    margin-bottom: 70px;
}

.answer {
    text-align: center;
}
